@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sir Moviesalot</h1>
    <p class="lead">Your personal guardian for the memories you had watching movies.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Link to tutorial</h2>
        <p>
            For Reference:
        </p>
        <p>
            <a class="btn btn-default" 
              href="https://docs.microsoft.com/en-us/aspnet/mvc/overview/getting-started/getting-started-with-ef-using-mvc/creating-an-entity-framework-data-model-for-an-asp-net-mvc-application", 
              target="_blank">Click here &raquo;</a>
        </p>
    </div>
    @*<div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>*@
</div>